@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display:ital,wght@1,600&display=swap");

body,
#quote,
#author {
  display: flex;
  justify-content: center;
}

body {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  font-size: 40px;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 50px;
  width: 75vw;

  /* From https://css.glass */
  /* start glass effect */
  background: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  /* end glass effect */
}

#quote {
  font-family: "Playfair Display", serif;
  text-align: justify;
  font-size: 2rem;
}

#author {
  margin-top: 2em;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  background-color: #dc00f083;
  color: rgb(0, 255, 242);
  border-radius: 50px;
}
